<div class="container">
  <div class="hero-banner">
    <span class="hero">Prenons rendez-vous !</span>
    <img class="logo" src="../../../assets/images/logo.png" alt="" />
  </div>
  <form>
    <label for="username">Nom</label>
    <input type="text" placeholder="Nom" id="username" />

    <label for="password">Prénom</label>
    <input type="password" placeholder="Prénom" id="password" />

    <label for="password">Date de naissance</label>
    <input type="password" placeholder="Date de naissance" id="password" />

    <label for="password">Email</label>
    <input type="password" placeholder="Email" id="password" />

    <label for="password">Numéro de téléphone</label>
    <input type="password" placeholder="Numéro de téléphone" id="password" />

    <div class="button">
      <a routerLink="customers" routerLinkActive="active-link"
        ><span>Déjà cliente ?</span></a
      ><a routerLink="customers" routerLinkActive="active-link"
        ><span>S'inscrire</span></a
      >
    </div>
  </form>
</div>
