.type-prestation-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10%;
  margin-top: 2%;
  height: auto;
}

.prestation-data {
  display: grid;
  list-style: none;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 1.5%;
  border-radius: 8px;
  background: var(--card-color);
  box-shadow: 3px 3px 0px #ffffffd8;
  width: 20rem;
}
.data-card {
  color: white;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-data {
  display: flex;
  justify-content: space-between;
}
