.type-prestation-card {
  display: grid;
  place-items: center;
  margin-bottom: 5%;
  margin-top: 2%;
  height: auto;
  overflow-x: hidden;
  padding-bottom: 1%;
}
h3 {
  text-decoration: underline;
  padding: 0.5%;
  font-weight: 600;
  width: 20rem;
}

.prestation-data {
  justify-content: space-around;
  padding: 0.4rem;
  margin-top: 0.5%;
  border-radius: 8px;
  background: var(--card-color);
  box-shadow: 3px 3px 0px #ffffffd8;
  width: 90%;
}
.prestation-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.data-card {
  color: white;
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: large;
}
.info-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
.card-description {
  overflow-y: scroll;
  height: 8rem;
}
.price-duration {
  display: flex;
  justify-content: space-around;
  padding: 0.5%;
  margin-right: 10rem;
}
.type {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: -2px 2px 0px rgba(252, 98, 170, 1);
  font-size: calc(3000vw / 1018);
  margin-left: 2%;
  margin-bottom: 2%;
}
@media screen and (max-width: 700px) {
  .type-prestation-card {
    grid-template-columns: 1fr;
    gap: 0.5%;
    margin-bottom: 0%;
    height: 170vh;
    overflow-y: scroll;
  }
  h3 {
    width: auto;
  }
  .type {
    font-size: calc(5000vw / 1018);
  }
}
