<div class="type-prestation-card">
  <div class="prestation-data" *ngFor="let service of typePrestation$ | async">
    <h2 class="card-title data-card">
      <div class="data-card">{{ service.title }}</div>
    </h2>
    <div class="info-data">
      <div class="data-card">
        Prix : <span class="data-card">{{ service.price }}€</span>
      </div>
      <div class="data-card">
        Durée : <span class="data-card">{{ service.duration }}min</span>
      </div>
    </div>
    <div class="data-card card-description">
      Description : <span class="data-card">{{ service.description }}</span>
    </div>
  </div>
</div>
