<div *ngIf="prestationsByType$ | async as prestationsByType">
  <div *ngFor="let type of prestationsByType | keys" class="data-card">
    <h2 class="type">{{ type }}</h2>
    <div class="type-prestation-card">
      <div
        *ngFor="let prestation of prestationsByType[type]"
        class="prestation-data"
      >
        <!-- Affiche les détails de chaque prestation ici -->
        <h3>{{ prestation.title }}</h3>
        <div>
          <p>Durée : {{ prestation.duration }}</p>
          <p>Prix : {{ prestation.price }}</p>
        </div>
        <p>{{ prestation.description }}</p>
      </div>
    </div>
  </div>
</div>
