.type-prestation-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 3%;
  gap: 2%;
  height: auto;
  margin-bottom: 10%;
  padding-bottom: 1%;
  color: white;
}
h2 {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: -2px 2px 0px rgba(252, 98, 170, 1);
  font-size: calc(5000vw / 1018);
  margin-left: 2%;
  margin-bottom: 4%;
  font-size: calc(4000vw / 1018);
  height: 4rem;
  margin-top: 5%;
}
h3 {
  width: 12rem;
}

.prestation-data {
  justify-content: space-around;
  padding: 0.4rem;
  margin-top: 0.5%;
  border-radius: 8px;
  background: var(--card-color);
  box-shadow: 3px 3px 0px #ffffffd8;
  width: 90%;
}
.prestation-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  font-size: large;
}
.info-data {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 2rem;
}
.card-description {
  overflow-y: scroll;
  height: 8rem;
}
.price-duration {
  display: flex;
  justify-content: space-around;
  padding: 0.5%;
  margin-right: 10rem;
}

@media screen and (max-width: 700px) {
  .type-prestation-card {
    margin-left: 2%;
    grid-template-columns: 1fr;
    gap: 0.5%;
    margin-bottom: 38%;
  }
  h2 {
    width: auto;
  }
  .type {
    font-size: calc(5000vw / 1018);
  }
}
