.images {
  display: flex;
  padding: 1rem;
  position: relative;
}

.container {
  position: relative; /* Changement du positionnement en relatif */
  width: 23rem; /* Ajout de largeur pour s'adapter à l'image */
  height: 26rem; /* Ajout de hauteur pour s'adapter à l'image */
  margin-left: 2rem;
}

.white-shadow {
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  width: 23rem; /* Pour remplir entièrement le parent */
  height: 27rem; /* Pour remplir entièrement le parent */
  background-color: white;
  z-index: -1;
}

.pink-shadow {
  position: absolute;
  top: 0;
  left: -1rem;
  width: 24rem; /* Pour remplir entièrement le parent */
  height: 27rem; /* Pour remplir entièrement le parent */
  background-color: var(--border-btn-color);
  z-index: -2; /* z-index plus bas que le div blanc */
}
.white-shadow-2 {
  position: absolute;
  top: -0.5rem;
  left: 0.5rem;
  width: 23rem; /* Pour remplir entièrement le parent */
  height: 27rem; /* Pour remplir entièrement le parent */
  background-color: white;
  z-index: -1;
}

.pink-shadow-2 {
  position: absolute;
  top: 1rem;
  left: -1rem;
  width: 23rem; /* Pour remplir entièrement le parent */
  height: 26rem; /* Pour remplir entièrement le parent */
  background-color: var(--border-btn-color);
  z-index: -2; /* z-index plus bas que le div blanc */
}

img {
  width: 23rem;
  height: 26rem;
  object-fit: cover;
}
