<span class="hero">Prenons rendez-vous !</span>
<div class="container" id="appointment-form">
  <form #addForm="ngForm">
    <span class="form-title"
      >Choisissez la prestation pour laquelle <br />
      vous voulez un rendez-vous</span
    >
    <div class="form-row">
      <div class="data-field">
        <label for="">Prestation :</label>
        <input
          name="prestation"
          ngModel
          class="input-data"
          type="text"
          required
          placeholder="Gainage"
        />
      </div>
    </div>
    <div class="form-btn">
      <input
        class="input-btn"
        [disabled]="addForm.invalid"
        id="add-customer-btn"
        type="submit"
        value="S'inscrire"
      /><input
        id="add-appointment-btn"
        class="input-btn"
        type="button"
        value="Se connecter"
      />
    </div>
  </form>
</div>
