* {
  font-family: "Lobster", sans-serif;
  font-style: normal;
  list-style: none;
  background-color: var(--main-bg-color);
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 3%;
  margin-bottom: 10%;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
  width: 90%;
}

form {
  margin-top: 0%;
  height: 100%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 0.7% 3%;
}

.form-title {
  color: white;
  text-shadow: -2px 2px 0px rgba(252, 98, 170, 1);
  font-size: 150%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  justify-content: space-around;
}
label {
  color: white;
}
.input-data {
  height: 3rem;
  width: 90%;
  color: var(--input-color);
  background-color: rgba(255, 255, 255, 0.501);
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: 0.4rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 300;
  border: none;
}
::placeholder {
  color: var(--input-placeholder-color);
}
.input-data:focus {
  transition: 400ms;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.form-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.input-btn {
  padding: 0.5rem;
  margin: 0.5rem;
  background-color: var(--border-btn-color);
  text-decoration: none;
  width: 8rem;
  border: 3px solid transparent;
  border-radius: 5px;
  color: aliceblue;
}
.input-btn:hover {
  background-color: var(--border-btn-color-light);
}
#data-calendar {
  display: flex;
  align-items: center;
}
.hours-container {
  height: 10rem;
  width: 20rem;
  color: var(--input-color);
  background-color: rgba(208, 208, 208, 0.501);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: auto;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: transparent;
  color: white;
  text-align: center;
  cursor: pointer;
  border: solid 1px transparent;
  border-radius: 5px;
  transition: border 0.3s ease;
}

.custom-button:hover {
  background-color: var(--border-btn-color-light);
}
.custom-button:active {
  background-color: var(--border-btn-color-light);
}

.selected-hour {
  background-color: var(
    --border-btn-color
  ); /* Change this to the desired color */
}

.custom-button.disabled {
  pointer-events: none;
  background-color: #cccccc;
}

.error-message {
  color: red;
  margin-top: 10px;
  font-family: "Andika", sans-serif;
}

@media screen and (max-width: 700px) {
  .titles {
    display: none;
  }
  .form-row {
    display: grid;
    margin-bottom: 1%;
  }
  .data-field {
    margin-bottom: 5%;
  }
}
