<span class="hero">Prenons rendez-vous !</span>
<div class="container" id="appointment-form">
  <form #addForm="ngForm">
    <div class="titles">
      <span class="form-title"
        >Choisissez la prestation pour laquelle <br />
        vous voulez un rendez-vous</span
      >
      <span class="form-title">Selectionnez la date du rendez-vous</span>
      <span class="form-title">Selectionnez l'heure du rendez-vous</span>
    </div>
    <div class="form-row">
      <div class="data-field">
        <label for="">Prestation :</label>
        <select
          class="input-data"
          [(ngModel)]="selectedPrestation"
          name="prestation"
          id="prestation-select"
          required
        >
          <option
            *ngFor="let prestations of typePrestation$ | async"
            value="{{ prestations.duration }}-{{ prestations.id }}"
          >
            {{ prestations.title }}
          </option>
        </select>
      </div>
      <div class="data-field">
        <label for="start-date">Date du rendez-vous</label>
        <div id="data-calendar">
          <input
            name="date"
            [(ngModel)]="selectedDate"
            class="input-data"
            matInput
            [matDatepicker]="myDatePicker"
            [min]="minDate"
            [max]="maxDate"
            [matDatepickerFilter]="dateFilter"
            (ngModelChange)="onDateChange($event)"
          />
          <mat-datepicker-toggle
            [for]="myDatePicker"
            matSuffix
          ></mat-datepicker-toggle>
          <mat-datepicker #myDatePicker></mat-datepicker>
        </div>
      </div>
      <div class="data-field">
        <label for="start-date">Heure du rendez-vous</label>
        <div class="hours-container">
          <div
            class="custom-button"
            *ngFor="
              let hour of [
                '09:00',
                '09:15',
                '09:30',
                '09:45',
                '10:00',
                '10:15',
                '10:30',
                '10:45',
                '11:00',
                '11:15',
                '11:30',
                '11:45',
                '12:00',
                '12:15',
                '12:30',
                '12:45',
                '13:00',
                '13:15',
                '13:30',
                '13:45',
                '14:00',
                '14:15',
                '14:30',
                '14:45',
                '14:30',
                '14:15',
                '14:30',
                '14:45',
                '15:00',
                '15:15',
                '15:30',
                '15:45',
                '16:00',
                '16:15',
                '16:30',
                '16:45',
                '17:00',
                '17:15',
                '17:30',
                '17:45'
              ]
            "
            [ngClass]="{ 'selected-hour': isHourSelected(hour) }"
            [class.disabled]="!isHourAvailable(hour)"
            (click)="selectHour(hour)"
          >
            {{ hour }}
          </div>
        </div>
      </div>
    </div>
    <div class="form-btn">
      <input
        (click)="onSubmit()"
        class="input-btn"
        id="add-appointment-btn"
        type="submit"
        value="Valider"
      />
    </div>
  </form>
</div>
