p {
  font-family: "Lobster", sans-serif;
  color: white;
  text-shadow: -7px 7px 0px rgba(252, 98, 170, 1);
  font-size: calc(7000vw / 1018);
}
.container {
  margin-left: 5rem;
  margin-top: 3%;
}
svg {
  width: 100%;
  height: 100%;
}
.hero {
  width: 35rem;
  height: 10rem;
  padding-left: 2rem;
  margin-top: 4%;
  margin-bottom: 3%;
}

@media screen and (max-width: 700px) {
  p {
    text-shadow: -2px 2px 0px rgba(252, 98, 170, 1);
  }
  .hero,
  p {
    width: 70%;
    height: 10%;
    padding-left: 15%;
  }
  .container {
    margin-top: 5%;
    margin-left: 0%;
    width: 100%;
  }
}
