.feed-images {
  width: 60%;
  height: auto;
  margin-left: 7%;
  margin-top: 3%;
  position: relative;
  border-bottom: 2px solid var(--card-color);
  border-right: 2px solid var(--card-color);

  padding: 1%;
}
/* .pink-shadow {
  width: 28.2%;
  height: 51.5%;
  background-color: var(--card-color);
  position: absolute;
  top: 15%;
  left: 6%;
  z-index: -1;
}

.white-shadow {
  width: 27%;
  height: 52%;
  background-color: white;
  position: absolute;
  top: 13.5%;
  left: 6.5%;
  z-index: -1;
} */
