You can add global styles to this file,
and also import other style files * {
  margin: 0%;
  padding: 0%;
}
:root {
  --border-btn-color: #fc62aa;
  --border-btn-color-light: #feafd4;
  --card-color: #ff7eba;
  --input-placeholder-color: #bebebe;
  --input-color: #5a5a5a;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
  -webkit-appearance: none; /* Pour réinitialiser l'apparence des boutons sur iOS */
  -moz-appearance: none; /* Pour réinitialiser l'apparence des boutons sur Firefox */
  appearance: none; /* Pour réinitialiser l'apparence des boutons sur tous les navigateurs */
  border: none; /* Supprimer la bordure par défaut */
  padding: 0; /* Supprimer le padding par défaut */
  background: none; /* Supprimer le background par défaut */
}
