<h1 id="my-work">Mon travail</h1>
<div class="container">
  <div class="instagram-feed">
    <img
      src="../../../assets/images/4bb23545925bfe44ffeddb60236b7bbd.jpg"
      alt=""
    />
    <img
      src="../../../assets/images/4fcbf58d0ec2f6652b27b6725e77dec5.jpg"
      alt=""
    />
    <img
      src="../../../assets/images/4fcbf58d0ec2f6652b27b6725e77dec5.jpg"
      alt=""
    />
  </div>
  <div class="type-prestation-card">
    <div
      class="prestation-data"
      *ngFor="let service of typePrestation$ | async"
    >
      <div class="data-card">{{ service.title }}</div>
      <div class="data-card">{{ service.price }}</div>
      <div class="data-card">{{ service.duration }}</div>
    </div>
  </div>
</div>
