* {
  font-family: "Lobster", sans-serif;
  font-style: normal;
  list-style: none;
}
#my-work {
  padding-top: 2rem;
}
.container {
  margin-bottom: 3%;
}
h1,
h2 {
  font-family: "Andika", sans-serif;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-shadow: -2px 2px 0px rgba(252, 98, 170, 1);
  font-size: calc(5000vw / 1018);
  margin-left: 2%;
  margin-bottom: 4%;
}
h2 {
  font-size: calc(4000vw / 1018);
  height: 4rem;
  margin-top: 5%;
}
.type-prestations {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
}
.type-prestation-column {
  display: grid;
  place-items: center;
  justify-content: space-around;
  margin: 2%;
  height: 14rem;
}

.prestation-data {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0.8rem;
  margin-top: 1.5%;
  border-radius: 8px;
  background: var(--card-color);
  box-shadow: 3px 3px 0px #ffffffd8;
  width: 24rem;
  overflow-y: auto;
}
.data-card {
  color: white;
}
.card-title {
  width: 15rem;
}
img {
  width: 21rem;
  height: 21rem;
  object-fit: cover;
  margin: 0.5rem;
}
.instagram-feed {
  width: 70%;
  margin-left: 15%;
}
@media screen and (max-width: 1100px) {
  .type-prestations {
    display: grid;
    width: auto;
    justify-content: center;
  }
  .type-prestation-column {
    margin: 0;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .instagram-feed {
    width: 90%;
    margin: 0%;
    margin-left: 5%;
  }
  .prestation-data {
    padding: 0.5rem;
    width: 20rem;
  }
  .type-prestation-column {
    margin: 0;
    height: auto;
  }
  h2 {
    font-size: calc(5000vw / 1018);
  }
}
