<h1 id="my-work">Mon travail</h1>
<div class="container">
  <div class="instagram-feed">
    <ngx-behold-widget [feedId]="'4GEk7qnedwb8Caa6R1ai'" />
  </div>

  <div class="type-prestations">
    <div
      (click)="redirectToPrestationScreen()"
      class="type-prestation-column"
      *ngFor="let type of typePrestationGrouped$ | async | keyvalue"
    >
      <h2 class="prestation-title">{{ type.key | titlecase }}</h2>
      <div class="prestation-data" *ngFor="let service of type.value">
        <div class="data-card card-title">{{ service.title }}</div>
        <div class="data-card">{{ service.price }}€</div>
        <div class="data-card">{{ service.duration }}min</div>
      </div>
    </div>
  </div>
</div>
